{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <h2>{{ page.title }} <small>post from {{ post.date|date("d. F Y") }}</small></h2>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        <div class="meta">
            {% if page.previous_post or page.next_post %}
                <nav class="article">
                    {% if page.previous_post %}
                        <div class="pull-left">
                            <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                                <i class="fa fa-arrow-left"></i>
                                <span class="title">{{ page.previous_post.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if page.next_post %}
                        <div class="pull-right">
                            <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                                <span class="title">{{ page.next_post.title }}</span>
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
    </article>
{% endblock %}
