h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

header nav,
.main-content,
footer.container-fluid {
    max-width: 900px;
}

header,
.navbar-brand,
.main-content,
footer {
    font-size: 120%;
}

.navbar-brand {
    letter-spacing: -1px;
    font-weight: bold;
}

.navbar {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

header nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

ul.item-list li {
    padding: 5px 0;
}

article div.meta {
    padding-top: 10px;
    border-top: 1px solid #e7e7e7;
}

nav.article i {
    color: #777
}

nav.article a {
    text-decoration: none;
}

ul.item-list li span,
footer,
footer a {
    color: #777;
}

footer a:hover {
    text-decoration: none;
}

footer.container-fluid {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #e7e7e7;
}

/**
 * Media queries
 *
 */
@media (max-width: 767px) {
    ul.item-list li span {
        display: none;
    }

    footer .social {
        text-align: left;
        padding-top: 15px;
    }
}

@media (min-width: 980px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}