h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

header nav,
.mainContent,
footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #e7e7e7;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}

/**
 * New added styled
 *
 */
.navbar-brand {
    text-transform: uppercase;
}

.navbar {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

header nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

footer a {
    color: #000;
}

footer a:hover {
    text-decoration: none;
}