{{ define "main" -}}
	{{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) -}}
	<article class="feature-image">
		<header style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featureimage }}')">
			{{ if and (isset .Params "titleshadow") }}
			<h1 class="title title-shadow">{{ .Title }}</h1>
			{{ else }}
			<h1 class="title">{{ .Title }}</h1>
			{{ end }}
		</header>
	{{- else -}}
	<article>
		<header>
			<h1 class="title">{{ .Title }}</h1>
			{{ partial "post-meta" . }}
		</header>
	{{- end }}

		<section class="post-content">
			{{ .Content }}
			<h2 id="typo">Typo?</h2>
			<p>Found a bug or a typo in this article? Feel free to create a pull request at <a href="https://github.com/andygrunwald/andygrunwald.github.io/blob/develop/content/{{ .File.Path }}"><em>{{ .Title }}</em></a> at GitHub.</p>
		</section>
	</article>
	<div class="comments">
		{{ if (not (eq .Site.DisqusShortname "")) | and (not .Params.disableComments) }}
			{{ template "_internal/disqus.html" . }}
		{{ end }}
	</div>
{{- end }}