<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            {{ site.title }} &mdash; {% if site.subtitle %}{{ site.subtitle }}{% endif %}
        </div>
        <div class="col-sm-4 text-right social">
            <!--
            TODO Add email
            <i class="fa fa-2x fa-envelope-square"></i>
            -->
            <a href="https://twitter.com/andygrunwald">
                <i class="fa fa-2x fa-twitter-square"></i>
            </a>
            <a href="https://github.com/andygrunwald">
                <i class="fa fa-2x fa-github-square"></i>
            </a>
            <a href="https://www.linkedin.com/pub/andy-grunwald/5a/a26/9a">
                <i class="fa fa-2x fa-linkedin-square"></i>
            </a>
            <a href="https://www.xing.com/profile/Andy_Grunwald">
                <i class="fa fa-2x fa-xing-square"></i>
            </a>
        </div>
    </div>
</footer>