---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 25
use:
    - posts
---
<ul class="item-list list-unstyled">
{% for post in page.pagination.items %}
    <li>
        <span class="pull-right small">{{ post.date|date("d. F Y") }}</span>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
